.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
.DS_Store
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
__pycache__/
*.pyc
assets/fonts/*.ttf
assets/fonts/*.otf
